<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataBaseContext" connectionString="metadata=res://*/emailDataModel.csdl|res://*/emailDataModel.ssdl|res://*/emailDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC074;initial catalog=CellDe_Transaction_MS;persist security info=True;user id=proddev;password=proddev2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>