<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="DataBaseContext" connectionString="metadata=res://*/emailDataModel.csdl|res://*/emailDataModel.ssdl|res://*/emailDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC074;initial catalog=CellDe_Transaction_MS;persist security info=True;user id=proddev;password=proddev2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DataBaseContext" connectionString="metadata=res://*/emailDataModel.csdl|res://*/emailDataModel.ssdl|res://*/emailDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.129.10.13;initial catalog=Telenor_Transaction;persist security info=True;user id=product;password=awqV1953zZwe@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Bcc" value="ravinder.yadav@cellde.com;productsupport@veridic.com" />
    <add key="ftp" value="SV03" />
    <add key="ftpPort" value="22" />
    <add key="ftpUserName" value="celldeware" />
    <add key="ftpPassword" value="productW@2020" />
    <add key="islogging" value="true" />
    <add key="logFolderName" value="MSMQ" />
    <add key="logPath" value="E:\Product\Logs\Telenor\Services\MSMQ" />
    <!--Keys for emailing-->
    <add key="senderEmail" value="donotreply@veridic.com" />
    <add key="senderName" value="donotreply@veridic.com" />
    <add key="senderPassword" value="Naq01677" />
    <add key="host" value="smtp.office365.com" />
	<add key="port" value="587" />
    <add key="enableSsl" value="true" />
    <!--<add key="senderEmail" value="celldesupport@veridic.com" />
    <add key="senderName" value="Cellde Support" />
    <add key="senderPassword" value="Verd19392" />
    <add key="host" value="smtp.office365.com" />
    <add key="port" value="587" />
    <add key="enableSsl" value="true" />-->
    <!--End Of Keys-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="IncludeExceptionDetails">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="MSMQEmailService_Telenor.Repository.QueueService">
        <endpoint address="msmq.formatname:DIRECT=OS:SV03\private$\msmq-telenor" binding="msmqIntegrationBinding" bindingConfiguration="IncomingMessageHandlerBinding" contract="MSMQEmailService_Telenor.Interface.IQueueService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <msmqIntegrationBinding>
        <binding name="IncomingMessageHandlerBinding" closeTimeout="00:30:00" receiveTimeout="01:00:00" retryCycleDelay="00:00:10" receiveRetryCount="0" exactlyOnce="false" maxRetryCycles="3" receiveErrorHandling="Move">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>